<% provide(:title, 'About') %>
<h1>About</h1>
<p>This is an application to help you find friends to play GO with.</p>

<p>My name is Ross Barnie, find other work by me at <a href="http://rossbarnie.co.uk">rossbarnie.co.uk</a></p>
