<h1>Counter-Strike: Global Offenisve Friend Finder</h1>
<p>Find stuff</p>

<img src="http://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_large_border.png" alt="Sign in through Steam">